h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    margin-top: 2ex;
    margin-bottom: 1ex;
}

h3, h4, h5, h6 {
    margin-left: 3%;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 125%;
}

body {
    margin-left: 3%;
    margin-right: 3%;
    font-family: serif;
    text-align: justify;
}

p {
    margin-left: 3%;
}

pre {
    margin-left: 3%;
    padding: 1ex;
    font-family: monospace;
    background: #f0f0f8;
    border: 1px dotted black;
    white-space: pre;
}

table {
    margin: 0.5% 0 0 0;
    border: 1px dotted black;
    border-collapse: collapse;
    background: #f8f8f0;
}

td {
    border: 1px dotted black;
    padding: 0.5ex;
}

td.code {
    font-family: monospace;
}

code {
    background: #f0f0f8;
    border: 1px dotted black;
    padding: 0 0.2em 0 0.2em;
}

div.question {
    font-style: italic;
    color: darkred;
}
span.subq {
    font-weight: bold;
}
    

ul {
   margin-left: 3%;
}

.fatwarning {
   color: red;
   border: 2px dotted red;
   background: #eedddd;
   font-size: 140%;
   padding: 1em;
}
